<h1 class = "title"><%=@user.username%></h1>
<h4 class = "title"><%= flash[:message] %></h4>

<%= form_tag(user_path(@user), method: "put") do %>
  <input type="text" name="user[username]" value = <%=@user.username%> />
  <input type="password" name="user[password_digest]" placeholder = "password" />
  <input type="text" name="user[email]" value = <%=@user.email%> />
  <input type="submit" value="Update!" />
<% end %>
