<h1>All Posts by user <%=User.find(params[:user_id]).username%></h1>
<% @user_posts = @posts.where(user_id: params[:user_id]) %>
<% @user_posts.each do |post| %>
  <h1><%= link_to post.title, user_post_path(post.user.id, post) %></h1>
  <h4><%= post.created_at.strftime("%b %e, %Y - %l:%M%p")%></h4>
  <h4><%= post.user.username %></h4>
  <p><%= post.post_content %></p>
<% end %>
