<div class="comment_container">
<h1 class="post_title"><%= @post.title %></h1>
<% if @post.user.id == session[:user_id] %>
  <%= link_to "(edit post)", edit_user_post_path(session[:user_id], @post), class: "edit_post" %>
  <%= form_for [@user, @post], method: :delete, :html => {:class => "delete_post_button"} do |f| %>
    <%= f.submit "Delete Post!" %>
  <% end %>
<% end %>
</div>
<div class="post_container show_comment">
  <div class="posts_content">
    <p><%= @post.post_content %></p>
  </div>
</div>
<div class="post_footer">
  <div class="footer_container">
    <span class="post_username"><%= link_to @post.user.username, user_posts_path(@post.user.id) %></span>
    <span class="post_time"><%= @post.created_at.strftime("%b %e, %Y - %l:%M%p")%></span>
  </div>
</div>
<div class="comment_container">
<h3 class = title>Comments:</h3>
<% @post.comments.each do |comment| %>
  <div class= "single_comment">
    <span><%=comment.created_at.strftime("%l:%M%p")%>: <%=comment.user.username%> wrote:</span>
      <% if comment.user.id == session[:user_id] %>
        <%= form_tag(user_post_comment_path(session[:user_id], @post, comment), method: "delete", class: "comment_submit") do %>
          <input type = "submit" class= "comment_submit" value = "(-)" />
        <% end %>
      <% end %>
    <span>
      <%=comment.comment_content %>
    </span>
  </div>
<% end %>
<% if session[:is_signed_in] %>
  <%= form_tag(user_post_comments_path(session[:user_id], @post), method: "post") do %>
    <input type = "textarea" name = "comment_content"/>
    <input type = "submit" value = "Comment" />
  <% end %>
<% end %>
</div>
<h4 class = "title"><%= flash[:message] %></h4>
